.shine-button {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(90deg,
        transparent,
        hsla(0, 0%, 100%, 0.4),
        transparent);
    transform: skew(-20deg);
  }

  &:hover::after {
    animation: shineAgain 0.75s cubic-bezier(0.01, 0.56, 1, 1) forwards;
  }
}

@keyframes shineAgain {
  100% {
    left: -200%;
  }
}